# Mac OS X
*.DS_Store


# Xcode
*.pbxuser
*.BACKUP.*.pbxproj
*.BASE.*.pbxproj
*.LOCAL.*.pbxproj
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
xcuserdata
*.xcuserstate

## Generic Files To Ignore
*~
*.swp
*.out


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

